body{
    color: black;
    padding: 0px 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FAEBD7;
}
nav ul{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    list-style-type: none;
   
}
nav a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}
nav a:hover{
    color:#664
}
header{
    text-align: center;
}
.Profile{
    height: 250px;
    width: 250px;
    border:solid 3px #664;
    border-radius: 50%;
}
.MainDiv{
   padding: 0px 20px; 
}
footer img{
    width: 40px;
    height: 40px;
    border-radius: 10px;
}
footer{
    display: flex;
    justify-content: center;
}
footer a{
    text-decoration: none;
    text-align: center;
    color: #664;
    padding: 20px;
}
footer p{
    margin-top: 0px;
}
h1{
    font-size: 50px;
}
p{
    font-size: 18px;
    color:#664;
}
h2{
    font-size: 32px;
}
h3{
    font-size: 24px;
}
.Projects{
    display: flex;
    padding-bottom:30px;
}
img{
    width: 700px;
    height: 500px;
}
.Container{
    border:solid 3px #664;
    border-radius: 10px;
    height: 440px;
    width: 900px;
    padding: 20px;
}
p img{
    height: 30px;
    width: 30px;
    border-radius: 10px;
}
.MainContact{
    justify-items: center;
}
.Obs{
    padding-top:40px;
}
.Obs-Text{
    padding-top:20px;
}